/* Importing custom fonts */

/* @font-face {
    font-family: 'kanoregular';
    src: url('./fonts/kano-webfont.woff2') format('woff2'),
         url('./fonts/kano-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'cinzel_decorativebold';
    src: url('./fonts/cinzeldecorative-bold-webfont.woff2') format('woff2'),
         url('./fonts/cinzeldecorative-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'cinzelbold';
    src: url('./fonts/cinzel-bold-webfont.woff2') format('woff2'),
         url('./fonts/cinzel-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}

.kano {
    font-family: 'kanoregular', sans-serif;
}

.cinzel-bold {
    font-family: 'cinzelbold', serif;
}

.cinzel-deco {
    font-family: 'cinzel_decorativebold', serif;
} */

/* Extra text styles */

.text-shadow {
    text-shadow: 0px 3px 4px rgba(0,0,0,1);
}

/* .amberial-yellow {
    color: rgb(255, 199, 0);
} */

/* Custom classes for the animated Twitter button */
.fill {
    position: absolute;
    width: 100%;
    height: 100%;
}

#twitter-follow {
    /* All button utility */
    width: 300px;
    height: 50px;
    border: none;
    background: transparent;
    padding: 0;
    transition: all 0.5s ease-out;
}

.background {
    /* All button cosmetics */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    overflow: hidden;

    background-color: #1DA1F2;
    color: white;

    font-size: 1rem;
    font-weight: 600;

    border-radius: 1rem;
    text-decoration: none;
}

.background :nth-last-child(2) {
    margin-right: 35px;
}

#twitter-follow:hover .background {
    transition: all 0.2s ease-out;
    background-color: #0C7ABF;
    transform: scale(1.1);
    border: 2px solid white;
    border-radius: 5rem;
}

.wrapper {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.arrow {
    line-height: 100%;
    position: absolute;
    translate: 260px;
    transition: color 0.2s ease-out;
}

.animatedbg {
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(95,68,171);
    transform: translateY(100%);
    transition: transform 0.1s ease-in;
}

#twitter-follow:hover .animatedbg {
    transform: translateY(70%);
}

#twitter-follow:hover .wrapper {
    animation: 0.8s ease-in-out hover-scene;
}

#twitter-follow:hover .arrow {
    animation: 0.7s linear infinite spin;
    color: rgb(255, 199, 0);
}

@keyframes hover-scene {
    0%, 100% {
        transform: translateY(0%);
    }
    20% {
        transform: translateY(-20%);
    }
    40% {
        transform: translateY(0%);
    }
    65%  {
        transform: translateY(-9%);
    }
    80% {
        transform: translateY(0%);
    }
    90% {
        transform: translateY(-2%);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}