@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    @font-face {
        font-family: 'kanoregular';
        src: url('../font/kano-webfont.woff2') format('woff2'),
            url('../font/kano-webfont.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'cinzel_decorativebold';
        src: url('../font/cinzeldecorative-bold-webfont.woff2') format('woff2'),
            url('../font/cinzeldecorative-bold-webfont.woff') format('woff');
        font-weight: 700;
        font-style: bold;
    }

    @font-face {
        font-family: 'cinzelbold';
        src: url('../font/cinzel-bold-webfont.woff2') format('woff2'),
            url('../font/cinzel-bold-webfont.woff') format('woff');
        font-weight: 700;
        font-style: bold;
    }

    h1 {
        @apply font-cinzel-bold m-0 text-6xl text-center text-shadow;
    }

    h2 {
        @apply text-amberial-yellow font-cinzel-bold text-3xl text-center;
    }
    h3 {
        @apply text-amberial-yellow font-cinzel-deco text-xl;
    }
}

@layer components {
    .vertical-wrapper {
        @apply flex flex-col items-center justify-center;
    }
        
    .amberial-border {
        @apply border-solid border-4 border-x-amber-700 border-y-amberial-yellow;
    }

    .amberial-border-small {
        @apply border-solid border-2 border-x-amber-700 border-y-amberial-yellow;
    }

    .featured-level-wrapper {
        @apply min-w-0 flex flex-initial flex-col items-center justify-between m-4 p-0 bg-transparent-black amberial-border-small rounded-t-xl relative;
    }

    .featured-header {
        @apply text-lg block my-2 w-[95%] align-middle text-center truncate;
    }

    .featured-user {
        @apply w-4/5 align-middle text-center block text-ellipsis overflow-hidden;
    }

    .loader {
        @apply border-8 rounded-full border-amber-700 border-t-amberial-yellow w-10 h-10 animate-spin;
    }

    .page-button {
        @apply text-xl font-cinzel-bold bg-amberial-yellow w-36 mx-4 my-3 p-4 rounded-lg text-black border-2 border-amber-700 hover:scale-105 active:scale-95;
    }
}

@layer utilities {
    .text-shadow {
        text-shadow: 0px 3px 4px rgba(0,0,0,1);
    }

    .truncated:hover:after,
    .truncated:focus:after,
    .truncated:active:after {
        content: attr(data-text);
        display: block;
        overflow: visible;
        text-overflow: inherit;
        white-space: normal;
        position: absolute;
        left: auto;
        top: auto;
        width: auto;
        max-width: 20rem;
        padding: 0.5rem;
        background: white;
        color: black;
        box-shadow: 0 4px 4px 0 rgba(0,0,0,.5);
        margin-top:-1.25rem;
    }
}
