@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    @font-face {
        font-family: 'kanoregular';
        src: url('../font/kano-webfont.woff2') format('woff2'),
            url('../font/kano-webfont.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'cinzel_decorativebold';
        src: url('../font/cinzeldecorative-bold-webfont.woff2') format('woff2'),
            url('../font/cinzeldecorative-bold-webfont.woff') format('woff');
        font-weight: 700;
        font-style: bold;
    }

    @font-face {
        font-family: 'cinzelbold';
        src: url('../font/cinzel-bold-webfont.woff2') format('woff2'),
            url('../font/cinzel-bold-webfont.woff') format('woff');
        font-weight: 700;
        font-style: bold;
    }

    * {
        @apply box-border;
    }

    section {
        @apply relative px-4 sm:px-12 lg:px-32 py-16 bg-cover bg-center flex flex-col justify-center items-center;
    }

    section > * {
        @apply my-4;
    }

    h2 {
        @apply font-cinzel-bold text-4xl sm:text-5xl md:text-6xl text-center text-shadow;
    }

    h3 {
        @apply text-amberial-yellow font-cinzel-bold text-2xl md:text-3xl text-center;
    }
}

@layer components {
    .vertical-wrapper {
        @apply flex flex-col items-center justify-center;
    }
        
    .amberial-border {
        @apply border-solid border-4 border-x-amber-700 border-y-amberial-yellow;
    }

    .amberial-border-small {
        @apply border-solid border-2 border-x-amber-700 border-y-amberial-yellow;
    }

    .featured-row {
        @apply mx-auto min-h-[240px] flex justify-center items-center flex-wrap md:flex-nowrap;
    }

    .featured-level-wrapper {
        @apply min-w-0 flex flex-[0_0_37vw] md:flex-[0_1_auto] flex-col items-center justify-between m-0.5 sm:m-2 lg:m-4 p-0 bg-transparent-black amberial-border-small rounded-t-xl relative;
    }

    .featured-header {
        @apply text-lg block my-2 w-[95%] align-middle text-center truncate;
    }

    .featured-user {
        @apply w-4/5 align-middle text-center block truncate;
    }

    .loader {
        @apply border-8 rounded-full border-amber-700 border-t-amberial-yellow w-10 h-10 animate-spin;
    }

    .page-button {
        @apply text-sm sm:text-base md:text-lg bg-amberial-yellow h-12 w-24 md:h-16 md:w-36 mx-1 m-2 md:m-4 rounded-lg text-center text-black border-2 border-amber-700 hover:scale-105 active:scale-95;
    }

    .twitter-follow-mobile {
        @apply flex items-center bg-[#1DA1F2] rounded-md p-2 active:bg-[#0C7ABF] active:scale-95 focus:bg-[#0C7ABF] focus:scale-95;
    }
}

@layer utilities {
    .text-shadow {
        text-shadow: 0px 3px 4px rgba(0,0,0,1);
    }

    .truncated:hover:after,
    .truncated:focus:after,
    .truncated:active:after {
        content: attr(data-text);
        display: block;
        overflow: visible;
        text-overflow: inherit;
        white-space: normal;
        position: absolute;
        left: auto;
        top: auto;
        width: auto;
        max-width: 20rem;
        padding: 0.5rem;
        background: white;
        color: black;
        box-shadow: 0 4px 4px 0 rgba(0,0,0,.5);
        margin-top:-1.25rem;
    }

    .videowrapper {
        position: relative;
        overflow: hidden;
        padding-bottom: 56.25%;
        height: 0;
    }

    .videowrapper iframe,
    .videowrapper embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
    }
}
